.hacker-news-header {
    background: #ff742b;
    height: auto;
    padding: 4px;
    display: flex;
    width: 100%;
}
.hacker-news-logo {
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    align-content: center;
}
.header-settings {
    margin: 10px;
}
.settings {
    font-size: 20px;
    font-weight: 700;
}